NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_URL="http://localhost:3000"
AUTH_SECRET="replace-with-generated-secret"
# AUTH_TRUST_HOST=true
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/wearerun"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""

NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

# Deployment example
# NEXT_PUBLIC_SITE_URL=https://your-domain.com
# AUTH_URL="https://we-are-run.vercel.app"
# AUTH_SECRET="replace-with-generated-secret"
# DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/wearerun"
